.header {
    background: #6ca85f;
    height: 200px;
    display: flex;
}
.div {
    font-family: "Fira Code Light";
    color: darkblue;
    font-size: 40px;
    padding-left: 380px;
    padding-top: 25px;
    text-transform: uppercase;
    text-shadow: 1px -3px 2px slategrey;
}
