.nav {
    background-color: dodgerblue;
    margin: 30px;
    padding: 30px;
}
.item a {
    text-decoration: none;
    color: black;
}
.item a.active{
    color:yellow;
}
.navigation {
    color: brown;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: underline;
    margin-bottom: 20px;
}