.nav {
    /*position: fixed;*/
    margin: 0;
    background: #ffffff;
    display: flex;
}

.item a {
    color: blue;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 160px;
}
.item a.active {
    color: coral;
}
