.wallpaper {
  z-index: 1;
  position: fixed;
  background-repeat: no-repeat;
}
.container {
  background-color:dodgerblue;
  position: relative;
  margin: 0 auto;
  z-index: 2;
  opacity: 0.9;
}

section {
  display: flex;
}

div {
  font-family: "MV Boli";
}

.container_content {
  width: 1000px;
  margin: 10px 0 0 10px;
  background-color: dodgerblue;
}
/*body {*/
/*  width: 1400px;*/
/*}*/